---
---

<!doctype html>
{% include copyright.html %}
<html lang="{{ site.locale | replace: " _", "-" | default: "en" }}" class="no-js">

<head>
  {% include head.html %}
  {% include head/custom.html %}

  <!-- ATTEMPT 1: MathJax -->
  <!-- <script type="text/javascript" id="MathJax-script" async
    src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
    </script> -->

  <!-- ATTEMPT 2: Katex -->
  <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.22/dist/katex.min.css"
    integrity="sha384-5TcZemv2l/9On385z///+d7MSYlvIEw9FuZTIdZ14vJLqWphw7e7ZPuOiCHJcFCP" crossorigin="anonymous"> -->

  <!-- The loading of KaTeX is deferred to speed up page rendering -->
  <!-- <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.22/dist/katex.min.js"
    integrity="sha384-cMkvdD8LoxVzGF/RPUKAcvmm49FQ0oxwDF3BGKtDXcEc+T1b2N+teh/OJfpU0jr6"
    crossorigin="anonymous"></script> -->

  <!-- To automatically render math in text elements, include the auto-render extension: -->
  <!-- <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.22/dist/contrib/auto-render.min.js"
    integrity="sha384-hCXGrW6PitJEwbkoStFjeJxv+fSOOQKOPbJxSfM6G5sWZjAyWhXiTIIAmQqnlLlh" crossorigin="anonymous"
    onload="renderMathInElement(document.body);"></script> -->

  <!-- ATTEMPT 2: MathJax with extras to handle $x$ syntax -->
  <script>
    window.MathJax = {
      tex: {
        inlineMath: [['$', '$'], ['\\(', '\\)']],
        displayMath: [['$$', '$$'], ['\\[', '\\]']]
      },
      options: {
        skipHtmlTags: ['script', 'noscript', 'style', 'textarea', 'pre', 'code']
      }
    };
  </script>
  <script type="text/javascript" id="MathJax-script" async
    src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
    </script>

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-0Y2MHJF35H"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-0Y2MHJF35H');
  </script>

</head>

<body
  class="layout--{{ page.layout | default: layout.layout }}{% if page.classes or layout.classes %}{{ page.classes | default: layout.classes | join: ' ' | prepend: ' ' }}{% endif %}"
  dir="{% if site.rtl %}rtl{% else %}ltr{% endif %}">
  {% include_cached skip-links.html %}
  {% include_cached masthead.html %}

  <div class="initial-content">
    {{ content }}
    {% include after-content.html %}
  </div>

  {% if site.search == true %}
  <div class="search-content">
    {% include_cached search/search_form.html %}
  </div>
  {% endif %}

  <div id="footer" class="page__footer">
    <footer>
      {% include footer/custom.html %}
      {% include_cached footer.html %}
    </footer>
  </div>

  {% include scripts.html %}
</body>

</html>